*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background: linear-gradient(45deg, rgb(254, 254, 254),rgb(236, 245, 255) );
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}
main.container{
    background-color: rgb(251, 253, 255);
    min-width: 330px;
    min-height: 40vh;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}
main h2{
    font-size: x-large;
    font-weight: 600;
    position: relative;
}

main h2::before{
    content: '';
    position: absolute;
    height: 4px;
    width:25px;
    bottom:-1px;
    left:0;
    border-radius: 8px;
    background: linear-gradient(45deg, rgb(4, 3, 6),rgb(132, 138, 143) );
}

form{
    display: flex;
    flex-direction: column;
}
.input-field{
    position: relative;
}

form .input-field:first-child{
    margin-bottom: 1.5rem;
}

#username, #password, h2{
    color:black;
}

#username2, #password2{
    background-color: rgb(251, 253, 255);
}
.input-field .underline::before{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left:0;
    background:  rgba(0, 0, 0, 0.2);;
}

.input-field input {
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.671);
    width: 100%;
}
.input-field input::placeholder {
color: rgba(1, 1, 1, 0.635);}

form input[type="submit"] {
margin-top: 2rem; 
width: 100%;
background-color: #17c73d;
color: rgb(255, 255, 255);
font-size: 1rem;
font-weight: 500;
border-radius: 5px;
transition: all 0.3s ease;
padding: 1.5vh;
}

form input[type="submit"]:hover {
letter-spacing: 0.5px;
background-color: #0e0f0e;
transition: all 0.4s; 
cursor: pointer;
}
.footer {
display: flex;
flex-direction: column; margin-top: 1rem;
}

.footer span {
    color: rgba(32, 31, 31, 0.614); 
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 10px;
    font-size: 0.89rem;
    
}
    .footer span a{
        color: rgba(32, 31, 31, 0.756);
    font-size: 0.89rem;}

 .footer span a:hover{
    color: #06c910;
    cursor: pointer;
    transition: all 0.4s;

 }
img{
    position: relative;
    width: 7.4vw;
    height: 15vh;
    margin: 3rem 0rem 2.7rem 4.6rem;
}
@media only screen and (max-width:600px){
    img{
        width: 25vw;
        height:15vh;
        margin: 2.5rem 0rem 2.3rem 4.8rem;}
    main.container{
        min-width: 340px;
        min-height: 37vh;
    }
}
